.icon-bar {
    width: 75px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: steelblue;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    padding-top: 20px;
}

.icon-bar button {
    background: none;
    border:none;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 12px;
}

.workspace {
    margin-left: 70px;
    padding: 20px;
}

.app-window {
    display: none;
    position: absolute;
    width: auto;
    background-color: steelblue;
    color: white;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    z-index: 10;
    touch-action:none;
}

.app-window.active {
    display: block;
}

.window-header {
    font-weight: bold;
    cursor:move;
    user-select: none;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin-bottom: 10px;
}

.close-btn {
    background: none;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    padding: 0px 5px;
}

#todoList {
    list-style:none;
    padding-left: 0;
    margin: 0;
}

#todoList li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
}

.todo-left {
    display: flex;
    align-items: center;
    gap: 5px;
}

.todo-left input[type="checkbox"] {
    width: 15px;
    height: 15px;
    accent-color:dimgrey;
    cursor: pointer;
}

#todoList li button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
}

#todoList li.completed span{
    text-decoration: line-through;
    opacity: 0.6;
}

#notes .window-content {
    display: flex;
    flex-direction: column;
}

#notesInput {
    min-height: 40px;
    max-height: 150px;
    overflow-y: auto;
    background: white;
    color: black;
    border: none;
    border-radius: 5px;
    outline: none;
    resize: none;
    line-height: 1.5;
}


#timerDisplay {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0;
}

.timer-input-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-bottom: 10px;
}

.timer-input-group input {
    width: 20px;
    padding: 4px 8px;
    border-radius: 6px;
    border: 1px solid deepslategray;
    text-align: center;
}

.timer-controls {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.timer-controls button {
    border-radius: 5px;
    border: none;
    background: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.sound-option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 14px;
    gap: 10px;
}

.sound-option input[type="range"] {
    width: 110px;
    accent-color: dimgrey;
}


#datetime {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: steelblue;
    color: white;
    padding: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

#time {
    font-size: 30px;
    font-weight: bold;
}